.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container h3 {
    color: orange;
    letter-spacing: 5px;
}

.container p {
    font-size: 15px;
    font-weight: 700;
}