body {
    font-size: 1.2em;
    margin: 0 auto;
    min-width: 500px;
    max-width: 1420px;
    width: 60%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

input[type='checkbox'] {
    transform: scale(2);
}

label > span {
    padding-left: 1.1em;
    font-size: 1.3em;
}

li {
    list-style-type: none;
}
